# H1: Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

_Some of the popular languages that Data Scientists use are:_

1. Python
2. R
3. SQL
4. Java
5. C++
6. C

*Some of the commonly used libraries used by Data Scientists include:*

1.	TensorFlow 
2.	SciPy 
3.	NumPy 
4.	Pandas 
5.	Matplotlib

| Data Science Tools | 
| -------------| 
| Jupyter notebook | 
| Zeppiline Notebook | 
| R studio |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# Displaying a  string message
"This a simple arithmetic expression to mutiply then add integers"

'This a simple arithmetic expression to mutiply then add integers'

In [6]:
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- Python
- R
- SQL
- Java
- Scala

## Author

_Nayana A Menon_